<!doctype html>
<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta charset="utf-8" />
	<title>{{ config['site']['title'] }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<style>
	.vertical-offset-100{
		padding-top:100px;
	}
	</style>
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>
